body{
  margin: 0;
  padding: 0;
}
.App {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.formContainer{
  background: rgb(243, 243, 243);
margin-top: 5px;
box-shadow: -1px 1px 3px 3px rgb(146, 146, 146);
height: 530px;
}
.Input{
  border: 2px solid rgb(106, 106, 106);
  background-color: rgb(255, 255, 255);
  width: 550px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

}

.custom-input-class{
border: none;
overflow: hidden;
width: 70%;

}
.custom-input-class:focus{
  border-color: #ffffff; 
  box-shadow: 0 0 0 2px #ffffff;
  overflow: hidden;
}
.error{
  color: #d60505;
  padding: 3px;
  font-size: 24px;
  margin-right: 10px;
}
.correct{
color: #45bd05;
padding: 3px;
font-size: 24px;
margin-right: 10px;


}
.inputError{
  border: 2px solid red;
}
.inputCorrect{
  border: 2px solid rgb(2, 189, 30);
}
.erorrText{
  position: absolute;
  right: -230px;
  white-space: pre-wrap;
  color: red;
}
.errorMessage{
  border: 2px solid red;
  height: 60px;
  width: 43%;
  color: #d60505;
  position: absolute;
  top: 20px;


}